.timeline{
    padding: 0 !important;
}

/* header item */

.timeline .timeline_header{
    padding-top: 7px;
    color: white;
    padding-top: 15px;
}


.timeline .timeline_firstItem{
    min-height: 80px !important;
}

.timeline .MuiTimelineItem-root{
    min-height: 0px;

}

.timeline .MuiTimelineItem-missingOppositeContent:before{
    display: none;
    padding-left: 20px;
}

.timeline .timeline_main_dot{
    background-color: var(--main-color);
    font-size: small;
    padding: 12px;

}

.timeline .timeline_main_dot .MuiSvgIcon-root{
    font-size: 20px;

}


/* remaining items */

.timeline .timeline_sub_dot{
    border-color: var(--main-color);
    padding: 2px;

}

.timeline .MuiTimelineConnector-root{

    background: grey;
}

.timeline .timeline_separator_padding{
    padding-left: 20px;
}

.timeline .timeline_content{
    padding:0px;

}

.timeline .MuiTimelineContent-root{
    display: 'flex';
    align-items: center;
    justify-content: 'center';
    padding-bottom:15px;
    margin-top:-5px;


}

.timeline_info{
    margin-top: 7px;
    margin-left: 10px;
    color: #e9efffc9;
}

.resume_work {
    display: flex;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 6px;
    font-weight: bold;
    color: aquamarine;
    /* margin-top: 4px; */
}
.resume_workyr{
    padding-left: 10px;
    color: azure;
    font-size: small;

}